---
import Layout from '@/layouts/Layout.astro';
import language from '@/i18n/va/va.ts';
import Hero from '@/components/Hero.astro';

---

<Layout language={language}>
	<main>
		<Hero language={language} />
	</main>
</Layout>