---
import Layout from "@/layouts/Layout.astro";
import language from "@/i18n/es/es.ts";
import Hero from "@/components/Hero.astro";
import ThemeToggle from "@/components/ThemeToggle.astro";
import SectionContainer from "@/components/SectionContainer.astro";
---

<Layout language={language}>
  <main>
    <SectionContainer id="hero">
      <Hero language={language} />
    </SectionContainer>
    <ThemeToggle language={language} />
  </main>
</Layout>
