---
import Layout from '@/layouts/Layout.astro';
import language from '@/i18n/va/va.ts';
---

<Layout language={language}>
	<main>
		<h1>{language.title}</h1>
		<p>{language.description}</p>
		<a href="miguelangelmardom8@gmail.com">{language.contact}</a>
	</main>
</Layout>