@import "tailwindcss";
@plugin "@midudev/tailwind-animations";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Roboto";
  src: url("roboto.woff2") format("woff2");
  font-weight: 100 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("roboto.woff2") format("woff2");
  font-weight: 100 700;
  font-display: swap;
  font-style: normal;
}

@theme {
  --font-sans: "Roboto", system-ui, sans-serif;
}

.signature {
  font-family: "PermanentMarker", cursive;
  text-shadow: 0 0 5px rgba(229, 231, 235, 0.7),
    0 0 10px rgba(229, 231, 235, 0.7);
}

.dark .signature {
  text-shadow: 0 0 5px rgba(237, 107, 255, 0.5),
    0 0 10px rgba(237, 107, 255, 0.5);
}

.glitter {
  box-shadow: 0 0 8px 3px rgba(229, 231, 235, 0.7);
}

.dark .glitter {
  box-shadow: 0 0 8px 3px rgba(237, 107, 255, 0.5);
}

.pattern-background-light {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23007AFF' fill-opacity='0.1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"),
    radial-gradient(circle at 15% 85%, #00a6f4, transparent 50%),
    radial-gradient(circle at 85% 15%, #00a6f4, transparent 50%);
  background-color: #e5e7eb;
}

.dark .pattern-background-dark {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23370037' fill-opacity='0.05' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"),
    radial-gradient(circle at 15% 85%, #4b004f, transparent 50%),
    radial-gradient(circle at 85% 15%, #4b004f, transparent 50%);
  background-color: #18181b;
}
