@import "tailwindcss";
@plugin "@midudev/tailwind-animations";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Roboto";
  src: url("roboto.woff2") format("woff2");
  font-weight: 100 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("roboto.woff2") format("woff2");
  font-weight: 100 700;
  font-display: swap;
  font-style: normal;
}

@theme {
  --font-sans: "Roboto", system-ui, sans-serif;
  --color-purple: #6633ee;
}

.signature {
  font-family: "PermanentMarker", cursive;
  text-shadow: 0 0 5px rgba(229, 231, 235, 0.7),
    0 0 10px rgba(229, 231, 235, 0.7);
}

.dark .signature {
  text-shadow: 0 0 5px rgba(237, 107, 255, 0.5),
    0 0 10px rgba(237, 107, 255, 0.5);
}

.glitter {
  box-shadow: 0 0 8px 3px rgba(229, 231, 235, 0.7);
}

.dark .glitter {
  box-shadow: 0 0 8px 3px rgba(255, 223, 32, 0.5);
}
