@import "tailwindcss";
@plugin "@midudev/tailwind-animations";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Roboto";
  src: url("roboto.woff2") format("woff2");
  font-weight: 100 700;
  font-display: swap;
  font-style: normal;
}

@theme {
  --font-sans: "Roboto", system-ui, sans-serif;
}

.glitter {
  box-shadow: 0 0 8px 3px rgba(33, 0, 52, 0.5);
}

.dark .glitter {
  box-shadow: 0 0 8px 3px rgba(252, 231, 246, 0.5);
}

.pattern-background-light {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23E879F9' fill-opacity='0.1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"),
    radial-gradient(circle at 15% 85%, #f0bbe2, transparent 50%),
    radial-gradient(circle at 85% 15%, #f0bbe2, transparent 50%);
  background-color: #fce7f6;
  transition: background-color 300ms ease-in-out;
}

.dark .pattern-background-dark {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%238B5CF6' fill-opacity='0.05' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"),
    radial-gradient(circle at 15% 85%, #591d8c, transparent 50%),
    radial-gradient(circle at 85% 15%, #591d8c, transparent 50%);
  background-color: #210034;
}
