@import "tailwindcss";
@plugin "@midudev/tailwind-animations";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Roboto";
  src: url("roboto.woff2") format("woff2");
  font-weight: 100 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("roboto.woff2") format("woff2");
  font-weight: 100 700;
  font-display: swap;
  font-style: normal;
}

@theme {
  --font-sans: "Roboto", system-ui, sans-serif;
  --color-primary: #4f46e5;
  --animate-ping: ping 1.5s cubic-bezier(0, 0, 0.5, 1) infinite;
}

.signature {
  font-family: "PermanentMarker", cursive;
  text-shadow:
    0 0 5px rgba(97, 95, 255, 0.4),
    0 0 10px rgba(97, 95, 255, 0.4),
    0 0 15px rgba(97, 95, 255, 0.4);
}

.dark .signature {
  text-shadow:
    0 0 5px rgba(97, 95, 255, 0.4),
    0 0 10px rgba(97, 95, 255, 0.4),
    0 0 15px rgba(97, 95, 255, 0.4);
}

.glitter {
  box-shadow: 0 0 8px 3px rgba(97, 95, 255, 0.4);
}
