---
import Layout from '@/layouts/Layout.astro';
import language from '@/i18n/en/en.ts';
import Hero from '@/components/Hero.astro';
import ThemeToggle from '@/components/ThemeToggle.astro';

---

<Layout language={language}>
	<main>
		<Hero language={language} />
		<ThemeToggle language={language} />
	</main>
</Layout>