---
import Layout from "@/layouts/Layout.astro";
import language from "@/i18n/en/en.ts";
import Hero from "@/components/Hero.astro";
import ThemeToggle from "@/components/ThemeToggle.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Experience from "@/components/Experience.astro";
import TitleSection from "@/components/TitleSection.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import Code from "@/components/icons/Code.astro";
---

<Layout language={language}>
  <main
    class="flex flex-col gap-y-16 overflow-hidden px-6 pb-20 md:gap-y-24 md:px-8 md:pb-32"
  >
    <SectionContainer id="hero" class="pt-36 md:pt-48">
      <Hero language={language} />
    </SectionContainer>
    <SectionContainer id="experience">
      <TitleSection>
        <Briefcase class="size-8" />
        Work Experience
      </TitleSection>
      <Experience language={language} />
    </SectionContainer>
    <SectionContainer id="projects">
      <TitleSection>
        <Code class="size-8" />
        Projects
      </TitleSection>
    </SectionContainer>
    <ThemeToggle language={language} />
  </main>
</Layout>
