---
import Layout from '../layouts/Layout.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
---

<Layout>
	<main>
		<h1>Portfolio</h1>
	</main>
</Layout>
