---
import type { Translation } from "@/i18n/types";

interface Props {
  language: Translation;
}

const { language } = Astro.props;
const { aboutMe } = language;
---

<article class="flex flex-col gap-8 md:flex-row-reverse md:items-center">
  <div class="flex-1">
    <img
      class="glitter mx-auto size-56 rounded-2xl object-cover transition duration-500 hover:scale-105 md:mx-0 md:h-auto md:w-48 lg:w-56"
      src="/hero_picture.webp"
      alt="Miguel Ángel"
    />
  </div>
  <div
    class="flex flex-2 flex-col gap-4 text-justify [&>p>strong]:text-indigo-500 [&>p>strong]:dark:text-yellow-200/90"
  >
    {aboutMe.map((paragraph) => <p set:html={paragraph} />)}
  </div>
</article>
