---
const sections = [
    {
        label: 'Inicio',
        href: '/#top',
    },
    {
        label: 'Acerca de',
        href: '/#about',
    },
    {
        label: 'Proyectos',
        href: '/#projects',
    },
    {
        label: 'Contacto',
        href: '/#contact',
    },
]
---

<div>
    {
    }
</div>