---
const { language } = Astro.props;
import SocialPill from "./SocialPill.astro";
import LinkedInIcon from './icons/LinkedIn.astro';
import MailIcon from './icons/Mail.astro';
import DocumentIcon from './icons/Document.astro';
---

<nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:martinezdom@gmail.com">
      <MailIcon class="size-4" />
      {language.contactMe}
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/martinezdom/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href={`/CV-${language.prefix.toUpperCase()}.pdf`}>
        <DocumentIcon class="size-4" />
        {language.downloadCurriculum}
    </SocialPill>
  </nav>