---
const { language } = Astro.props;
import SocialPill from "./SocialPill.astro";
import LinkedInIcon from "./icons/LinkedIn.astro";
import MailIcon from "./icons/Mail.astro";
import DocumentIcon from "./icons/Document.astro";
import GithubIcon from "./icons/Github.astro";
---

<div>
  <div class="flex justify-end pb-8">
    <img
      class="glitter size-36 rounded-full border border-indigo-500/40 object-cover md:size-auto md:w-56 md:rounded-lg lg:w-72"
      src="/hero_picture.png"
      alt="Miguel Ãngel"
    />
  </div>
  <nav
    class="grid grid-cols-2 gap-4 text-xs font-medium md:grid-cols-4 md:text-sm"
  >
    <SocialPill href="https://www.linkedin.com/in/martinezdom/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/martinezdom">
      <GithubIcon class="size-4" />
      GitHub
    </SocialPill>
    <SocialPill href={`/CV-${language.prefix.toUpperCase()}.pdf`}>
      <DocumentIcon class="size-4" />
      {language.curriculum}
    </SocialPill>
    <SocialPill href="mailto:martinezdom@gmail.com">
      <MailIcon class="size-4" />
      {language.contactMe}
    </SocialPill>
  </nav>
</div>
