---
const { language } = Astro.props;
const personalImageAlt = "Miguel Ángel";
import SocialPill from "./SocialPill.astro";
import LinkedInIcon from "./icons/LinkedIn.astro";
import MailIcon from "./icons/Mail.astro";
import DocumentIcon from "./icons/Document.astro";
import GithubIcon from "./icons/Github.astro";
---

<div>
  <div class="flex justify-end pb-8">
    <img
      class="glitter size-42 rounded-lg border-1 border-indigo-500/40 md:size-54 lg:size-72"
      src="/hero_picture.png"
      alt={personalImageAlt}
    />
  </div>
  <nav
    class="grid grid-cols-2 gap-4 text-xs font-medium md:grid-cols-4 md:text-sm"
  >
    <SocialPill href="https://www.linkedin.com/in/martinezdom/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/martinezdom">
      <GithubIcon class="size-4" />
      GitHub
    </SocialPill>
    <SocialPill href={`/CV-${language.prefix.toUpperCase()}.pdf`}>
      <DocumentIcon class="size-4" />
      {language.curriculum}
    </SocialPill>
    <SocialPill href="mailto:martinezdom@gmail.com">
      <MailIcon class="size-4" />
      {language.contactMe}
    </SocialPill>
  </nav>
</div>
