---
const { language } = Astro.props;
---
<select
  name="language"
  id="language"
  class=" rounded-md px-3 py-1 text-sm bg-white text-gray-900 border border-gray-900 dark:bg-gray-800 dark:text-white dark:border-white"
>
  <option value="en" selected={language.prefix === 'en'}>
    {language.english}
  </option>
  <option value="es" selected={language.prefix === 'es'}>
    {language.castilian}
  </option>
  <option value="va" selected={language.prefix === 'va'}>
    {language.valencian}
  </option>
</select>


<script>
  const selectElement = document.getElementById('language') as HTMLSelectElement;
  if (selectElement) {
    selectElement.addEventListener('change', (event) => {
      const selectedLanguage = (event.target as HTMLSelectElement).value;
      if (selectedLanguage === 'es') {
        window.location.href = '/';
      } else {
        window.location.href = `/${selectedLanguage}`;
      }
    });
  }
</script>
