---
import Arrow from "./icons/Arrow.astro";

const { language } = Astro.props;

const LANGUAGES = [
  { code: "ES", value: "es", path: "/" },
  { code: "EN", value: "en", path: "/en" },
  { code: "VA", value: "va", path: "/va" },
];

const currentLang =
  LANGUAGES.find((lang) => lang.value === language.prefix) || LANGUAGES[0];
---

<div class="relative">
  <button
    id="lang-selector"
    class="flex cursor-pointer items-center gap-1 py-1 text-slate-900 transition-colors duration-200 hover:text-indigo-500 md:text-sm dark:text-white dark:hover:text-indigo-400"
    aria-expanded="false"
  >
    <span id="current-lang">{currentLang.code}</span>
    <Arrow class="h-3 w-3 transition-transform duration-350" id="lang-arrow" />
  </button>

  <div
    id="lang-menu"
    class="absolute inset-x-0 z-10 mt-1 hidden justify-center"
    role="menu"
  >
    <div
      class="min-w-[60px] rounded-md border border-indigo-500/40 bg-white py-1 dark:bg-slate-900"
    >
      {
        LANGUAGES.map((lang) => (
          <a
            href={lang.path}
            class="block px-4 py-2 text-center text-sm text-slate-900 transition-colors duration-150 hover:bg-indigo-50 hover:text-indigo-600 dark:text-slate-200 dark:hover:bg-slate-800 dark:hover:text-indigo-400"
            data-lang={lang.value}
          >
            {lang.code}
          </a>
        ))
      }
    </div>
  </div>
</div>

<script is:inline>
  const langSelector = document.getElementById("lang-selector");
  const langMenu = document.getElementById("lang-menu");
  const langArrow = document.getElementById("lang-arrow");

  const toggleLanguageMenu = () => {
    const isOpen = langSelector.getAttribute("aria-expanded") === "true";
    langMenu.classList.toggle("hidden", isOpen);
    langMenu.classList.toggle("flex", !isOpen);
    langSelector.setAttribute("aria-expanded", (!isOpen).toString());
    langArrow.style.transform = isOpen ? "rotate(0deg)" : "rotate(180deg)";
  };

  const closeLanguageMenu = () => {
    langMenu.classList.add("hidden");
    langMenu.classList.remove("flex");
    langSelector.setAttribute("aria-expanded", "false");
    langArrow.style.transform = "rotate(0deg)";
  };

  langSelector.addEventListener("click", (e) => {
    e.stopPropagation();
    toggleLanguageMenu();
  });

  document.addEventListener("click", (e) => {
    if (!langSelector.contains(e.target) && !langMenu.contains(e.target)) {
      closeLanguageMenu();
    }
  });
</script>
