---
import ProjectItem from "@/components/ProjectItem.astro";
import type { Translation } from "@/i18n/types";

interface Props {
  language: Translation;
}

const { language } = Astro.props;
const { projects } = language;
---

<div class="flex flex-col gap-6">
  {
    projects.map((projectItem) => (
      <article class="group flex flex-col md:flex-row md:space-x-8">
        <ProjectItem {...projectItem} />
      </article>
    ))
  }
</div>
