<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="inline-flex items-center justify-center gap-2 px-4 py-1 rounded-full border border-indigo-500/40 bg-slate-100 dark:bg-transparent text-slate-700 dark:text-slate-200 hover:bg-indigo-950 hover:text-white hover:border-indigo-950 dark:hover:bg-indigo-600 dark:hover:text-black dark:hover:border-indigo-500 transition-colors duration-200 group"
>
  <slot />
</a>