<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  class="group inline-flex items-center justify-center gap-2 rounded-full border border-indigo-500/40 bg-slate-100 px-4 py-1 text-slate-700 transition-colors duration-200 hover:border-indigo-500 hover:bg-indigo-500 hover:text-white focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:outline-none dark:border-yellow-200 dark:bg-transparent dark:text-slate-200 dark:hover:border-yellow-200/90 dark:hover:bg-yellow-200/90 dark:hover:text-indigo-950 dark:focus:ring-offset-slate-900"
>
  <slot />
  <span class="sr-only">(abre en una nueva pestaña)</span>
</a>
