<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="inline-flex items-center justify-center gap-2 px-4 py-1 rounded-full border border-sky-500 dark:border-fuchsia-400 bg-gray-200 dark:bg-transparent text-sky-500 dark:text-fuchsia-400 hover:bg-blue-950 hover:text-white hover:border-blue-950 dark:hover:bg-fuchsia-950 dark:hover:text-white dark:hover:border-fuchsia-950 transition-colors duration-200 group"
>
  <slot />
</a>