<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="inline-flex items-center justify-center gap-2 px-4 py-1 border border-violet-950 dark:border-fuchsia-100 rounded-full bg-violet-950 text-fuchsia-100 transition duration-200 hover:bg-fuchsia-100 hover:text-violet-950 group dark:bg-fuchsia-100 dark:text-violet-950 dark:hover:bg-violet-950 dark:hover:text-fuchsia-100"
>
  <slot />
</a>