---
import MainHead from "@/components/MainHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import "../styles/global.css";
const { language } = Astro.props;
---

<!doctype html>
<html lang={`"${language.prefix}"`}>
  <head>
    <MainHead />
  </head>
  <body class="flex flex-col min-h-screen relative text-black dark:text-white">
    <div class="absolute inset-0 -z-10 h-full w-full [background:radial-gradient(125%_125%_at_50%_10%,#fff_40%,var(--color-purple)_100%)] dark:[background:radial-gradient(125%_125%_at_50%_10%,#18181b_40%,var(--color-purple)_100%)]">
</div>
    <Header language={language} />
    <slot />
    <Footer language={language} />
  </body>
</html>