---
import MainHead from "@/components/MainHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import "../styles/global.css";
const { language } = Astro.props;
---

<!doctype html>
<html lang={`"${language.prefix}"`}>
  <head>
    <MainHead />
  </head>
  <body class="min-h-screen w-full text-violet-950 dark:text-fuchsia-100 relative pattern-background-light pattern-background-dark">
    <Header language={language} />
    <slot />
    <Footer language={language} />
  </body>
</html>
