---
import MainHead from '@/components/MainHead.astro';
import Nav from '@/components/Nav.astro';
const { language } = Astro.props;

---

<!doctype html>
<html lang={language}>
	<head>
		<MainHead />
	</head>
	<body class="bg-gray-200 dark:bg-gray-800 dark:text-white transition-colors duration-300 ease-in-out">
		<Nav language={language} />
		<slot />
		<footer>&copy; martinezdom</footer>
	</body>
</html>
