---
import MainHead from "@/components/MainHead.astro";
import Nav from "@/components/Nav.astro";
import Footer from "@/components/Footer.astro";
import "../styles/global.css";
const { language } = Astro.props;
---

<!doctype html>
<html lang={language}>
  <head>
    <MainHead />
  </head>
  <body
    class="min-h-screen w-full bg-gradient-to-b from-white to-gray-400 dark:from-gray-900 dark:to-black text-gray-900 dark:text-gray-100 relative transition-colors duration-300 ease-in-out">
    <Nav
    language={language}
  />
    <slot />
    <Footer />
  </body>
</html>
